<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet" type="text/css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css" rel="stylesheet" type="text/css">
    <link href="http://kanghyojun.org/stylesheets/stylesheet.css" type="text/css" />

    <style type="text/css">
      * { font-family: "Spoqa Han Sans", "Sans-serif"; }
    </style>

  </head>
  <body>
    <div class="wrapper">
      {{ content }}
    </div>
  </body>
</html>
